body {
    background-color: #f0f2f5;
    font-family: helvetica;
}

.fblogo {
    display: block;
    width: 8cm;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    width: 500px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
    font-size: 18pt;
    text-align: center;
}

.box {
    background-color: white;
    width: 350px;
    height: 310px;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #d6d9dc;
    margin-left: auto;
    margin-right: auto;
}

.input input {
    width: 100%;
    height: 1.25cm;
    border-width: 2px;
    border-radius: 8px;
    border-color: #f0f2f5;
    border-style: solid;
    margin-bottom: 10px;
    font-size: 13pt;
}

::placeholder {
    font-size: 12pt;
}


/* Login button */

.submit {
    background-color: #1877f2;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

.input a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    font-size: 11pt;
    color: #1d78e0;
}

.outtro {
    text-align: center;
    font-size: 11pt;
}

.outtro a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
    font-size: 11pt;
}

.create {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #53b63c;
    width: auto;
    height: 0.9cm;
    margin-top: 8px;
    margin-left: 25%;
    border-radius: 8px;
    border-style: hidden;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}


/* Popup */

.popup {
    visibility: hidden;
    width: 401px;
    height: 560px;
    color: black;
    background-color: white;
    text-align: center;
    z-index: 1;
    left: -28%;
    top: -700%;
    margin-left: -80px;
    position: absolute;
    box-shadow: 2px 2px 2px 2px #d6d9dc;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
    cursor: auto;
}

.popup h3 {
    color: black;
    font-size: 24pt;
    margin-top: -8px;
    margin-bottom: 0px;
    text-align: left;
    font-style: bolder;
}

.quit {
    float: right;
    margin-top: -45px;
    cursor: pointer;
}

.popup p {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: lighter;
    color: rgb(96, 96, 96);
    font-size: 11pt;
}

.open-popup {
    visibility: visible;
}

.underline {
    color: rgb(213, 213, 213);
    font-weight: lighter;
    margin-left: -20px;
}

.form input {
    background-color: rgb(247, 247, 247);
    width: 100;
    height: 1cm;
    border-width: 1px;
    border-radius: 8px;
    border-color: #d1d1d1;
    border-style: solid;
    margin-bottom: 10px;
    margin-top: -2px;
}

.form .form_signup {
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: #32a418;
    margin-top: 20px;
    padding-top: 1px;
    width: auto;
    font-weight: bold;
    cursor: pointer;
}

.form ::placeholder {
    color: #a7a7a7;
    font-size: 11pt;
}

.legal p {
    font-size: 8.3pt;
    color: rgb(103, 103, 103);
    font-weight: lighter;
}

.legal a {
    font-size: 8.3pt;
    color: #1356ae;
    cursor: pointer;
    line-height: 10px;
}

.radiolabel {
    display: inline-flex;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
    width: 28.1%;
    height: .4cm;
    font-size: 11pt;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
    margin-right: 6px;
}

.dropdown {
    width: 31.1%;
    height: .9cm;
    border-radius: 4px;
    font-size: 11pt;
    padding-left: 4px;
    margin-bottom: 10px;
    border-color: #c6c6c6;
    margin-right: 6px;
}

.qm {
    display: inline-block;
    width: 3%;
}

.signup input {
    background-color: #53b63c;
}